@font-face {
	font-family: "Disorient";
	src: url("disorient.otf");
}

body {
	background-color: #333;
	font-family: Disorient;
	margin:0;
	padding:0;
	overflow:hidden;
}

#buttons {
	text-align: center;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 5px;
	user-select: none;
	-webkit-user-select: none;
}

.button:active {
	-webkit-filter: brightness(175%);
}
