@font-face {
	font-family: "HydrogenWhiskey";
	src: url("hydrogenwhiskey.otf");
}

body {
	background-color: #333;
	font-family: Helvetica, sans-serif;
	margin:0;
	padding:0;
	overflow:hidden;
	user-select: none;
	-webkit-user-select: none;
}

h1,h2,h3,h4,h5 {
	font-family: HydrogenWhiskey;
}

#controls {
	text-align: center;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

input[type=range] {
	width: 140px;
	transform: scale(2);
	-webkit-transform: scale(2);
	margin-top: 10px;
}

.button {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 8px 10px 8px 10px;
	border-radius: 5px;
	user-select: none;
	-webkit-user-select: none;
}

.button.active {
	-webkit-filter: brightness(175%);
}

.icons {
	width: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.icon {
	width: 57px;
	height: 47px;
	border-radius: 5px;
	background-color: #eee;
	color: #333;
	text-align: center;
	font-size: 36px;
	margin: 8px 8px 4px 4px;
	padding-top: 10px;
}

.overlay {
	position: fixed;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,0.85);
	color: white;
	text-align: center;
	font-size: 16px;
/*	transition: top 0.25s ease-in-out;*/
}

.overlay .icons {
	margin-top: 50px;
	margin-left: 2px;
}

.overlay p {
	text-align: left;
}

@media screen and (orientation: landscape) {
	.overlay .icons {
		margin-top: 20px;
	}

	.overlay p {
		margin-top: 10px;
	}
}

.overlay .icon {
	margin: 8px 8px 4px 4px;
}

.ready {
	background-color: rgb(50,255,50);
}

.close {
	position: absolute;
	right: -5px;
	top: -10px;
	width: 40px;
	height: 30px;
}

.icon.active {
	background-color: rgb(50,255,50);
}

.hidden {
	top: -100%;
}

.shown {
	top: 0;
}

.overlay .inner {
	position: relative;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.overlay button {
	width: 300px;
	height: 50px;
	border-radius: 5px;
	font-size: 14px;
	color: #333;
	background-color: #eee;
	border: none;
}

.intro p img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#compass {
	display: block;
	background-color: rgba(255,255,255,0.5);
	z-index: 100000;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

#compass.intro {
	position: fixed;
	top: 260px;
	left: 50%;
	margin-left: -140px;
}

#compass.normal {
	display: block;
}
